:root{
    --dark-color: #f2a6a6;
    --light-color: #f1c6e7;
}

html{
    font-family: 'EB Garamond', serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container{
    background: linear-gradient(to bottom, var(--dark-color), var(--light-color));
    height: 450px;
}

.top-wrapper{
    width: 600px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.cloud{
    position: absolute;
}

.mountain{
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.cloud1{
    left: 0%;
    top: 20%;
}

.cloud2{
    left: 60%;
    top: 8%;
}

h1{
    font-family: 'Shadows Into Light', cursive;
}

.underlined{
    text-decoration: underline;
}

.middle-container{
    width: 800px;
    margin: 2rem auto;
}

.profile{
    text-align: center;
}

.profile_image{
    width: 100px;
}